<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-384">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Let's Chat</span>
            <h2 class="cs-title">Let's Talk About Your Paint Project</h2>
            <p class="cs-text">
                Need a fresh coat of paint? As local Woodstock painters, we'd love to hear about your project. Quick response, free estimates, and straight talk about what your paint job needs. 
            </p>
            <a href="/contact"  id="button-2" class="cs-button-solid">Get A Quote</a>
        </div>
        <div class="cs-image-group">
            <!--Bucket Image-->
            <picture class="cs-bucket">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cta-image.webp" | resize({width: 650, height: 600}) | webp %}">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/cta-image.webp" | resize({width: 1200, height: 900}) | webp({quality: 20}) %}">
                <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/cta-image.webp" | resize({width: 1200, height: 900}) | webp({quality: 20}) %}" alt="bucket" width="1200" height="900" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
                                