/*-- -------------------------- -->
<---        Content Page        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-page-1398 {
    padding: var(--sectionPadding);
    background-color: #fff;
    /* clips the wave background from causing overflow issues when it goes off screen */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #content-page-1398 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 40px - 64px */
    gap: clamp(2.5rem, 4vw, 4rem);
    position: relative;
  }
  #content-page-1398 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 46.125rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #content-page-1398 .cs-title {
    color: var(--main-dark);
  }
  #content-page-1398 h2,
  #content-page-1398 h3,
  #content-page-1398 h4,
  #content-page-1398 h5,
  #content-page-1398 h6 {
    font-weight: 700;
    text-align: inherit;
    margin: 0 0 1rem 0;
    color: var(--main-dark);
  }
  #content-page-1398 h2 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  #content-page-1398 h3 {
    font-size: 1.5rem;
    color: var(--main-dark);
  }
  #content-page-1398 h4,
  #content-page-1398 h5,
  #content-page-1398 h6 {
    font-size: 1.25rem;
  }
  #content-page-1398 .cs-button-solid {
    margin-bottom: 2rem;
    color: #fff;
    border-radius: 3.75rem;
  }
  #content-page-1398 .cs-no-margin {
    margin: 0;
  }
  #content-page-1398 .cs-color {
    color: var(--primary);
  }
  #content-page-1398 p {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    margin: 0 0 1rem 0;
    color: var(--bodyTextColor);
  }
  #content-page-1398 p:last-of-type {
    margin-bottom: 2rem;
  }
  #content-page-1398 p a {
    font-size: inherit;
    line-height: inherit;
    text-decoration: underline;
    color: var(--primary);
    filter: brightness(120%);
  }
  #content-page-1398 ol,
  #content-page-1398 ul {
    padding-left: 1.5rem;
    margin: 0 0 2rem 0;
    color: var(--bodyTextColor);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #content-page-1398 ul li {
    list-style: none;
    color: inherit;
    position: relative;
  }
  #content-page-1398 ul li:before {
    /* custom list bullet */
    content: "";
    width: 3px;
    height: 3px;
    background: currentColor;
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 0.625rem;
    left: -0.75rem;
  }
  #content-page-1398 img {
    width: 100%;
    height: auto;
    display: block;
  }
  #content-page-1398 .cs-image-group {
    width: 100%;
    display: none;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2.6vw, 1.25rem);
    position: relative;
  }
  #content-page-1398 .cs-flex {
    position: relative;
  }
  #content-page-1398 .cs-background {
    width: 100%;
    height: 100%;
    /* 32px - 48px */
    border-radius: clamp(2rem, 4vw, 3rem);
    /* clips the corners of the children around the border radius */
    overflow: hidden;
    /* makes it cover the parent dimensions */
    object-fit: cover;
    display: block;
  }
  #content-page-1398 .cs-background img {
    width: 100%;
    height: 100%;
    /* makes it cover the parent like a backgorund image */
    object-fit: cover;
    display: block;
  }
  #content-page-1398 .cs-box {
    text-align: left;
    width: 100%;
    max-width: 12.5rem;
    padding: 2rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: var(--primary);
    /* 48px - 80px */
    border-radius: 2rem;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    position: absolute;
    /* 12px - 20px */
    right: clamp(0.75rem, 1.9vw, 1.5rem);
    /* 12px - 20px */
    bottom: clamp(0.75rem, 1.9vw, 1.5rem);
  }
  #content-page-1398 .cs-box-icon {
    width: 3.75rem;
    height: auto;
    display: block;
  }
  #content-page-1398 .cs-desc {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    width: 100%;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #content-page-1398 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.265rem, 1fr));
    align-items: center;
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #content-page-1398 .cs-item {
    list-style: none;
    /* 16px - 24px */
    padding: clamp(1rem, 3vw, 1.5rem);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 1rem;
    border: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #content-page-1398 .cs-item:before {
    display: none;
  }
  #content-page-1398 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #content-page-1398 .cs-h3-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #content-page-1398 .cs-item-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #content-page-1398 .cs-item-text:last-of-type {
    margin: 0;
  }
  #content-page-1398 .cs-ul {
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #content-page-1398 .cs-li {
    font-size: var(--bodyFontSize);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 0.5rem;
  }
  #content-page-1398 .cs-icon {
    width: 1.5rem;
    height: auto;
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: 1px;
    display: block;
  }
  #content-page-1398 .cs-bubbles {
    font-size: min(2.5vw, .7em);
    width: 36.375em;
    height: 34.8125em;
    display: none;
    position: absolute;
    /* changes to auto at larger desktop */
    left: -16.25em;
    /* changes to -220px at large desktop */
    bottom: -3.125em;
    z-index: -1;
  }
  #content-page-1398 .cs-bubbles:before {
    /* white border bubble */
    content: "";
    width: 29em;
    height: 29em;
    background: transparent;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    animation-name: floatAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #content-page-1398 .cs-bubbles:after {
    /* orange bubble */
    content: "";
    width: 22.875em;
    height: 22.875em;
    background: var(--primary);
    opacity: 0.15;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    animation-name: floatAnimation2;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #content-page-1398 .cs-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  #content-page-1398 .cs-content {
    width: 50%;
    max-width: 42.125rem;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #content-page-1398 .cs-image-group {
    width: 44%;
    max-width: 33.875rem;
    display: flex;
  }
}
/* Desktop - 1200px */
@media only screen and (min-width: 75rem) {
  #content-page-1398 .cs-content {
    width: 53%;
  }
  #content-page-1398 .cs-image-group {
    width: 43%;
  }
  #content-page-1398 .cs-box {
    display: flex;
  }
  #content-page-1398 .cs-bubbles {
    font-size: 1em;
    margin-right: 37.5rem;
    display: block;
    left: auto;
    right: 50%;
    bottom: -13.75rem;
  }
}
/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1267 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #services-1267 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1267 .cs-content {
    width: 100%;
    max-width: 32.625rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    /* set text align to center if content needs to be centrally aligned */
    text-align: left;
  }
  #services-1267 .cs-title {
    color: var(--main-dark);
  }
  #services-1267 #services-1267#services-1267#services-1267 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 3.75rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #services-1267 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 3.75rem;
    transition: width 0.3s;
  }
  #services-1267 .cs-button-solid:hover:before {
    width: 100%;
  }
  #services-1267 .cs-card-group {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.75vw, 1.25rem);
  }
  #services-1267 .cs-item {
    border-radius: 1rem;
    margin-left: 0;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    grid-column: span 12;
    /* 20px - 24px */
    padding: clamp(1.25rem, 2.4vw, 1.5rem);
    list-style: none;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
  }
  #services-1267 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    margin: 0 0 1.25rem 0;
    color: var(--main-dark);
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  #services-1267 .cs-picture {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #services-1267 .cs-icon {
    height: 0.9rem;
    width: auto;
  }
  #services-1267 .cs-number {
    display: block;
    margin: 0 0 0.75rem 0;
    font-size: 1.5625rem;
    font-weight: 700;
    color: var(--primary);
  }
  #services-1267 .cs-item-text {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #services-1267 .cs-background {
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60%;
    width: 100%;
  }
  #services-1267 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #services-1267 .cs-button-solid {
    color: #fff;
    border-radius: 3.75rem;
    max-width: 200px;
    margin-top: clamp(1rem, 2rem, 3rem);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1267 .cs-container {
    max-width: 80rem;
  }
  #services-1267 .cs-item {
    grid-column: span 6;
  }
  #services-1267 .cs-item:nth-of-type(3) {
    order: 4;
  }
  #services-1267 .cs-background {
    height: 45%;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1267 .cs-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
  }
  #services-1267 .cs-content {
    width: 42%;
    max-width: 32.625rem;
  }
  #services-1267 .cs-wrapper {
    width: 52%;
    max-width: 39.375rem;
    /* sends it to the left */
    order: -1;
    position: relative;
  }
  #services-1267 .cs-item {
    grid-column: span 6;
  }
  #services-1267 .cs-background {
    height: 150%;
    width: 115%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-1574 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #stats-1574 .cs-container {
    list-style: none;
    width: 100%;
    /* changes to 1280px on tablet */
    max-width: 36.5rem;
    margin: auto;
  }
  #stats-1574 .cs-card-group {
    width: 100%;
    padding: 0;
    display: grid;
    grid-auto-flow: row;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #stats-1574 .cs-item {
    text-align: center;
    width: 100%;
    /* 24px - 40px top & bottom, 16px - 24px sides*/
    padding: clamp(1.5rem, 4vw, 2.5rem) clamp(1rem, 3vw, 1.5rem);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #stats-1574 .cs-icon {
    width: auto;
    height: 3rem;
    margin-bottom: 1.5rem;
  }
  #stats-1574 .cs-stat {
    /* 31px - 39px */
    font-size: clamp(0.9375rem, 2vw, 1.9rem);
    font-weight: 900;
    line-height: 1.2em;
    margin-bottom: 0.25rem;
    color: var(--main-dark);
    font-family: 'Montserrat', sans-serif;
    display: block;
  }
  #stats-1574 .cs-info {
    /* 14px - 20px */
    font-size: clamp(0.875rem, 1.15vw, 1rem);
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #stats-1574 .cs-background {
    width: 100%;
    height: 9.375rem;
    object-fit: cover;
    background-color: #f7f7f7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-1574 .cs-container {
    max-width: 80rem;
  }
  #stats-1574 .cs-card-group {
    grid-template-columns: repeat(12, 1fr);
  }
  #stats-1574 .cs-item {
    grid-column: span 3;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats-1574 .cs-background {
    height: 50%;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-573 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #services-573:before {
    /* red box background, removed at tablet */
    content: "";
    width: 100%;
    height: 100vw;
    max-height: 25rem;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-573 .cs-container {
    width: 100%;
    max-width: 80em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  #services-573 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-573 .cs-topper,
  #services-573 .cs-title {
    max-width: 31.25rem;
    color: var(--bodyTextColorWhite);
  }
  #services-573 .cs-card-group {
    width: 100%;
    max-width: 73.375rem;
    margin: 0;
    /* 36px - 80px top & bottom */
    /* 20px - 80px right & left */
    padding: clamp(2.25rem, 6vw, 5rem) clamp(1.25rem, 5.6vw, 5rem);
    background-color: #fff;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* changes at in-between */
    gap: 1.25rem;
  }
  #services-573 .cs-item {
    width: 100%;
    text-align: left;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  #services-573 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--main-dark);
  }
  #services-573 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 3vw, 1rem);
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #services-573 .button {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #services-573 .cs-button-solid {
    max-height: 3rem;
    color: #fff;
    border-radius: 3.75rem;
  }
}
/* In-between - 550px */
@media only screen and (min-width: 34.375rem) {
  #services-573 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* 48px - 64px */
    row-gap: clamp(3rem, 6vw, 4rem);
  }
  #services-573 .cs-item {
    width: 47%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-573:before {
    display: none;
  }
  #services-573 .cs-content {
    text-align: left;
    width: 48vw;
    max-width: 39.375rem;
    /* pushes to the right, forcing it to the left */
    margin-right: auto;
    /* 32px - 40px */
    padding: clamp(2rem, 4vw, 2.5rem);
    padding-bottom: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    align-items: flex-start;
    position: relative;
  }
  #services-573 .cs-content:before {
    /* red box background, we add it to the .cs-content so it can respond to it's changes in height and width to create the box. By doing it this way, the .cs-content and .cs-card-group don't actually have to overlap. We can control the spacing between it and the .cs-card-content with flexbox and let this pseudo box's absolute position create the overlapping box. */
    content: "";
    width: 100%;
    /* if the h2 changes how many lines tall it is, it changes the height of the .cs-content, which this box will respond to it by always be 2.5X the .cs-content height, this makes it responsive */
    height: 250%;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-573 .cs-card-group {
    width: 88%;
    /* pushes to the left, sending it to the right */
    margin-left: auto;
  }
}
/* Desktop 1024px */
@media only screen and (min-width: 64rem) {
  #services-573 .cs-item {
    width: 31%;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-573-alt {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #services-573-alt:before {
    /* red box background, removed at tablet */
    content: "";
    width: 100%;
    height: 100vw;
    max-height: 25rem;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-573-alt .cs-container {
    width: 100%;
    max-width: 80em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  #services-573-alt .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-573-alt .cs-topper,
  #services-573-alt .cs-title {
    max-width: 31.25rem;
    color: var(--bodyTextColorWhite);
  }
  #services-573-alt .cs-card-group {
    width: 100%;
    max-width: 73.375rem;
    margin: 0;
    /* 36px - 80px top & bottom */
    /* 20px - 80px right & left */
    padding: clamp(2.25rem, 6vw, 5rem) clamp(1.25rem, 5.6vw, 5rem);
    background-color: #fff;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* changes at in-between */
    gap: 1.25rem;
  }
  #services-573-alt .cs-item {
    width: 100%;
    text-align: left;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  #services-573-alt .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--main-dark);
  }
  #services-573-alt .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 3vw, 1rem);
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #services-573-alt .button {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #services-573-alt .cs-button-solid {
    max-height: 3rem;
    color: #fff;
    border-radius: 3.75rem;
  }
}
/* In-between - 550px */
@media only screen and (min-width: 34.375rem) {
  #services-573-alt .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* 48px - 64px */
    row-gap: clamp(3rem, 6vw, 4rem);
  }
  #services-573-alt .cs-item {
    width: 47%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-573-alt:before {
    display: none;
  }
  #services-573-alt .cs-container {
    max-width: 70em;
  }
  #services-573-alt .cs-content {
    text-align: left;
    width: 50%;
    /* pushes to the right, forcing it to the left */
    margin-left: auto;
    /* 32px - 40px */
    padding: clamp(2rem, 4vw, 2.5rem);
    padding-bottom: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    align-items: flex-start;
    position: relative;
  }
  #services-573-alt .cs-content:before {
    /* red box background, we add it to the .cs-content so it can respond to it's changes in height and width to create the box. By doing it this way, the .cs-content and .cs-card-group don't actually have to overlap. We can control the spacing between it and the .cs-card-content with flexbox and let this pseudo box's absolute position create the overlapping box. */
    content: "";
    min-width: 600px;
    max-width: 800px;
    /* if the h2 changes how many lines tall it is, it changes the height of the .cs-content, which this box will respond to it by always be 2.5X the .cs-content height, this makes it responsive */
    height: 250%;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    right: -5%;
    z-index: -1;
  }
  #services-573-alt .cs-topper,
  #services-573-alt .cs-title {
    width: 100%;
    text-align: right;
    padding-right: 0;
  }
  #services-573-alt .cs-card-group {
    width: 88%;
    /* pushes to the left, sending it to the right */
    margin-left: auto;
  }
}
/* Desktop 1024px */
@media only screen and (min-width: 64rem) {
  #services-573-alt .cs-item {
    width: 31%;
  }
}
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1640 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
    overflow: hidden;
  }
  #sbs-1640 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1640 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
  #sbs-1640 .cs-button-solid {
    color: #fff;
    border-radius: 3.75rem;
    max-width: 200px;
  }
  #sbs-1640 .cs-title {
    margin: 0 0 2.5rem 0;
    color: var(--main-dark);
  }
  #sbs-1640 .cs-text {
    margin-bottom: 1rem;
    color: var(--main-paragraph);
    opacity: 0.8;
  }
  #sbs-1640 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1640 .cs-picture {
    width: 100%;
    height: auto;
    min-height: 26.25rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1640 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 15px;
    top: 0;
    left: 0;
  }
  #sbs-1640 .cs-stats-group {
    width: 100%;
    max-width: 35.625rem;
    display: flex;
    flex-direction: column;
  }
  #sbs-1640 .cs-stats {
    width: 100%;
    max-width: 39.375rem;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.5rem;
    column-gap: 0.75rem;
  }
  #sbs-1640 .cs-stat {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    grid-column: span 4;
    flex-direction: column;
    align-self: stretch;
    align-content: space-between;
  }
  #sbs-1640 .cs-number {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    line-height: 1.2em;
    font-weight: 900;
    text-align: left;
    color: var(--secondary);
    display: block;
    margin: 0 0 0.25rem 0;
  }
  #sbs-1640 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    text-align: left;
    /* auto margin top will push text to bottom if there's only one line */
    margin: 0;
    color: var(--primary);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1640 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbs-1640 .cs-stats-group {
    /* 52px - 90px */
    margin-bottom: clamp(3.25rem, 7vw, 5.625rem);
    /* 60px - 120px */
    padding-top: clamp(3.75rem, 10vw, 7.5rem);
    /* 60px - 80px */
    padding-bottom: clamp(3.75rem, 8vw, 5rem);
    position: relative;
    z-index: 1;
  }
  #sbs-1640 .cs-stats-group:before {
    content: '';
    width: 200vw;
    height: 100%;
    background: #fff;
    opacity: 1;
    position: absolute;
    display: block;
    top: 100%;
    left: -100%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #sbs-1640 .cs-picture {
    height: 100%;
  }
  #sbs-1640 .cs-picture {
    width: 47vw;
    max-width: 30.875rem;
    /* 518px - 700px */
    height: 100%;
    /* 16px - 28px, added margin left and bottom to cs-picture so it pushes away by the same amount the yellow box element overlaps it left and bottom. This maintains consistent spacing left and bottom */
    margin: 0 0 clamp(1rem, 2.4vw, 1.75rem) clamp(1rem, 2.4vw, 1.75rem);
    position: relative;
  }
  #sbs-1640 .cs-picture:before {
    /* yellow box */
    content: "";
    width: 50%;
    height: 60%;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    border-radius: 15px;
    /* 16px - 28px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
    bottom: calc(clamp(1rem, 2.4vw, 1.75rem)*-1);
    right: calc(clamp(1rem, 2.4vw, 1.75rem)*-1);
  }
}
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1640-alt {
    padding: var(--sectionPadding);
    background-color: #fff;
    overflow: hidden;
  }
  #sbs-1640-alt .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1640-alt .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
  #sbs-1640-alt .cs-button-solid {
    color: #fff;
    border-radius: 3.75rem;
    max-width: 200px;
  }
  #sbs-1640-alt .cs-title {
    margin: 0 0 2.5rem 0;
    color: var(--main-dark);
  }
  #sbs-1640-alt .cs-text {
    margin-bottom: 1rem;
    color: var(--main-paragraph);
    opacity: 0.8;
  }
  #sbs-1640-alt .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1640-alt .cs-picture {
    width: 100%;
    height: auto;
    min-height: 26.25rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1640-alt .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 15px;
    top: 0;
    left: 0;
  }
  #sbs-1640-alt .cs-stats-group {
    width: 100%;
    max-width: 35.625rem;
    display: flex;
    flex-direction: column;
  }
  #sbs-1640-alt .cs-stats {
    width: 100%;
    max-width: 39.375rem;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.5rem;
    column-gap: 0.75rem;
  }
  #sbs-1640-alt .cs-stat {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    grid-column: span 4;
    flex-direction: column;
    align-self: stretch;
    align-content: space-between;
  }
  #sbs-1640-alt .cs-number {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    line-height: 1.2em;
    font-weight: 900;
    text-align: left;
    color: var(--secondary);
    display: block;
    margin: 0 0 0.25rem 0;
  }
  #sbs-1640-alt .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    text-align: left;
    /* auto margin top will push text to bottom if there's only one line */
    margin: 0;
    color: var(--primary);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1640-alt .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbs-1640-alt .cs-stats-group {
    /* 52px - 90px */
    margin-bottom: clamp(3.25rem, 7vw, 5.625rem);
    /* 60px - 120px */
    padding-top: clamp(3.75rem, 10vw, 7.5rem);
    /* 60px - 80px */
    padding-bottom: clamp(3.75rem, 8vw, 5rem);
    position: relative;
    z-index: 1;
  }
  #sbs-1640-alt .cs-stats-group:before {
    content: '';
    width: 200vw;
    height: 100%;
    background: #fff;
    opacity: 1;
    position: absolute;
    display: block;
    top: 100%;
    left: -100%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #sbs-1640-alt .cs-picture {
    height: 100%;
  }
  #sbs-1640-alt .cs-picture {
    width: 47vw;
    max-width: 30.875rem;
    /* 518px - 700px */
    height: 100%;
    /* 16px - 28px, added margin left and bottom to cs-picture so it pushes away by the same amount the yellow box element overlaps it left and bottom. This maintains consistent spacing left and bottom */
    margin: 0 0 clamp(1rem, 2.4vw, 1.75rem) clamp(1rem, 2.4vw, 1.75rem);
    position: relative;
  }
  #sbs-1640-alt .cs-picture:before {
    /* yellow box */
    content: "";
    width: 50%;
    height: 60%;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    border-radius: 15px;
    /* 16px - 28px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
    bottom: calc(clamp(1rem, 2.4vw, 1.75rem)*-1);
    right: calc(clamp(1rem, 2.4vw, 1.75rem)*-1);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-245 {
    padding: var(--sectionPadding);
    background: #f7f7f7;
  }
  #reviews-245 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-245 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #reviews-245 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
  }
  #reviews-245 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    /* max-width set at tablet */
    /* pushes up by the same amount the cs-item-img overlaps the card */
    margin: 3rem 0 0 0;
    /* 16px - 36px left and right */
    /* 24px - 36px on the bottom */
    padding: 3.75rem clamp(1rem, 2.7vw, 2.25rem) clamp(1.25rem, 2.7vw, 2.25rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  #reviews-245 .cs-item-img {
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    top: -3rem;
    border-radius: 50%;
  }
  #reviews-245 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 1.5rem;
    color: var(--bodyTextColor);
  }
  #reviews-245 .cs-title {
    color: var(--main-dark);
  }
  #reviews-245 .cs-flex-group {
    width: 100%;
    padding-top: 1.5rem;
    border-top: 1px solid #dad9e3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  #reviews-245 .cs-reviewer {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.4vw, 1rem);
    line-height: 1.5em;
    font-weight: 700;
    width: 40%;
    margin: 0 auto 0 0;
    display: block;
    color: var(--headerColor);
  }
  #reviews-245 .cs-desc,
  #reviews-245 .cs-rating {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.4vw, 1rem);
    font-weight: 400;
    line-height: 1.5em;
    color: #7d799c;
    display: block;
  }
  #reviews-245 .cs-rating {
    margin-right: 0.5rem;
  }
  #reviews-245 .cs-item-stars {
    width: 6em;
    height: 1em;
    /* centers it with the rating to the left */
    margin-bottom: 0.1875rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-245 .cs-container {
    max-width: 80rem;
  }
  #reviews-245 .cs-card-group {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    /* 16px - 20px */
    column-gap: clamp(1rem, 1.5vw, 1.25rem);
    row-gap: 4rem;
  }
  #reviews-245 .cs-item {
    /* we do this so it's stackable. You can add new any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 22.5vw to get the desired sizes fit 4 in a row and then stack when you add more*/
    width: clamp(31.5%, 30vw, 32.3%);
    max-width: 25.8125rem;
    align-content: space-between;
  }
  #reviews-245 .cs-item-img {
    transition: box-shadow 300ms ease, transform 250ms ease;
  }
  #reviews-245 .cs-item:hover .cs-item-img {
    box-shadow: rgba(95, 250, 178, 0.2) 0px 8px 24px;
    transform: translateY(-10px);
    transition: box-shadow 300ms ease-in-out, transform 250ms ease-in-out;
  }
  #reviews-245 .cs-flex-group {
    /* push contents to the left */
    justify-content: flex-start;
  }
  #reviews-245 .cs-reviewer {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #reviews-245 .cs-flex-group {
    flex-wrap: nowrap;
  }
  #reviews-245 .cs-reviewer {
    margin: 0;
  }
  #reviews-245 .cs-item-stars {
    margin-bottom: 0.3125rem;
  }
}
