---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1467">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Get Clean Energy With A Solar Panel Installation</h1>
            <p class="cs-text">
                We help companies develop powerful corporate social responsibility, grantmaking, and employee engagement strategies.
            </p>
            <a href="" class="cs-button-solid">Call Us Now</a>
            <div class="cs-reviews" aria-hidden="true">
                <div class="cs-reviews-flex">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile1.png" alt="icon" width="48" height="48">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile2.png" alt="icon" width="48" height="48">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile3.png" alt="icon" width="48" height="48">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile4.png" alt="icon" width="48" height="48">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile5.png" alt="icon" width="48" height="48">
                    <span class="cs-reviews-number">+4k</span>
                </div>
            </div>
            <div class="cs-stars">
                <img class="cs-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg" alt="icon" width="16" height="16">
                <img class="cs-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg" alt="icon" width="16" height="16">
                <img class="cs-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg" alt="icon" width="16" height="16">
                <img class="cs-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg" alt="icon" width="16" height="16">
                <img class="cs-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg" alt="icon" width="16" height="16">
            </div>
            <p class="cs-desc">
                Stitch Energy rated 4.9/5 based on 359 reviews.
            </p>
        </div>
        <div class="cs-right">
            <span class="cs-tag">
                Online Special
                <span class="cs-dot" aria-hidden="true"></span>
            </span>
            <div class="cs-flex">
                <h3 class="cs-h3">Get an Extra 5% OFF Your First Order Today</h3>
                <span class="cs-expires">*Offer Expires April 16th</span>
                <p class="cs-form-text">
                    Request a free* No-Obligation quote & expert advice from our expert team!
                </p>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-1467" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-1467" name="name">
                </label>
                <label class="cs-label">
                    Phone
                    <input class="cs-input" required type="tel" id="phone-1467" name="phone">
                </label>
                <label class="cs-label">
                    Email
                    <input class="cs-input" required type="email" id="email-1467" name="email">
                </label>
                <label class="cs-label">
                    How did you hear about us?
                    <input class="cs-input" required type="text" id="hear-1467" name="heat">
                </label>
                <label class="cs-label cs-message">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1467"></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Get Estimate</button>
            </form>
            <p class="cs-disclaimer">
                <img class="cs-disclaimer-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/lock.svg" alt="icon" width="20" height="20">
                *Free estimates for homeowners only. Real estate evaluations are billable.
            </p>
        </div>
    </div>

    <!-- Background Image, added in CSS as a backgorund image for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/test.png" | resize({width: 412, height: 629}) | webp({quality: 50}) %}">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/test.png" | resize({width: 1415, height: 722}) | webp %}">
        <img decoding="async" src="{% getUrl "/assets/images/test.png" | resize({width: 1415, height: 722}) | webp %}" alt="Freshly painted home." aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-99">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture" aria-hidden="true">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/brothers.jpeg" | resize({width: 686, height: 480}) | webp %}">
            <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/brothers.jpeg" | resize({width: 804, height: 1246}) | webp %}">
            <img decoding="async" src="{% getUrl "/assets/images/brothers.jpeg" | resize({width: 804, height: 1246}) | webp %}" alt="Freshly painted home." aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Small Group Training</span>
            <h2 class="cs-title">Make your circle healthier together</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Platea porttitor in venenatis enim molestie felis vitae nec. Tempor tempor aliquam mus nec. Sodales consectetur lectus quis nullam mauris, cursus massa faucibus. Quis magna nunc nulla eget. Etiam sit adipiscing felis sagittis, facilisi. Pretium sed.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <span class="cs-number">1</span>
                    Motor vehicle accidents
                </li>
                <li class="cs-li">
                    <span class="cs-number">2</span>
                    Shoulder injuries
                </li>
                <li class="cs-li">
                    <span class="cs-number">3</span>
                    Motor vehicle accidents
                </li>
                <li class="cs-li">
                    <span class="cs-number">4</span>
                    Pregnancy aches and pains
                </li>
            </ul>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Donations                   -->
<!-- ============================================ -->

<section id="donations">
    <div class="cs-container">
        <div class="cs-content-donations">
            <span class="cs-topper">Popular Causes</span>
            <h2 class="cs-title">Find Our Popular Causes</h2>
            <p class="cs-text">
                Join the community to give education for the children and together make them educated for their lives. We help companies develop powerful corporate. Every man must decide whether he will walk in the light. 
            </p>
            <a href="" class="cs-button-solid">View All Causes</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/interior.jpeg" | resize({width: 686, height: 480}) | webp %}">
                        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/interior.jpeg" | resize({width: 603, height: 480}) | webp %}">
                        <img decoding="async" src="{% getUrl "/assets/images/interior.jpeg" | resize({width: 603, height: 480}) | webp %}" alt="Freshly painted home." aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Reduce Air Pollution</h3>
                        <p class="cs-item-text">
                            We help companies develop powerful corporate responsibility and employee engagement.
                        </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/exterior.jpeg" | resize({width: 686, height: 480}) | webp %}">
                        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/exterior.jpeg" | resize({width: 603, height: 480}) | webp %}">
                        <img decoding="async" src="{% getUrl "/assets/images/exterior.jpeg" | resize({width: 603, height: 480}) | webp %}" alt="Freshly painted home." aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Be Efficient In Energy Use</h3>
                        <p class="cs-item-text">
                            We help companies develop powerful corporate responsibility and employee engagement.
                        </p>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/interior.jpeg" | resize({width: 686, height: 480}) | webp %}">
                        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/interior.jpeg" | resize({width: 603, height: 480}) | webp %}">
                        <img decoding="async" src="{% getUrl "/assets/images/interior.jpeg" | resize({width: 603, height: 480}) | webp %}" alt="Freshly painted home." aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Be Efficient In Energy Use</h3>
                        <p class="cs-item-text">
                            We help companies develop powerful corporate responsibility and employee engagement.
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!--Stats Group-->
    <div class="cs-stats-container">
        <ul class="cs-stats-group">
            <li class="cs-stat">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/box-heart.svg" alt="icon" width="48" height="48">
                </picture>
                <div class="cs-info">
                    <span class="cs-stat-number">78k+</span>
                    <span class="cs-desc">Raised by 6,388 people in 7 days</span>
                </div>
            </li>
            <li class="cs-stat">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/hands.svg" alt="icon" width="48" height="48">
                </picture>
                <div class="cs-info">
                    <span class="cs-stat-number">8M+</span>
                    <span class="cs-desc">People got your support in 5 years</span>
                </div>
            </li>
        </ul>
    </div>
    <!-- Background Graphic -->
    <picture class="cs-background">
        <img src="/assets/images/swoosh.png" alt="waves" >
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-578">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">What We Do</span>
            <h2 class="cs-title">House Painting Contractors For Oak Harbor</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </p>
            <p class="cs-text">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
            <a href="" class="cs-button-solid">Get Free Quote</a>
        </div>
        <picture class="cs-picture" aria-hidden="true">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/living-room.jpeg" | resize({width: 686, height: 600}) | webp %}">
            <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/living-room.jpeg" | resize({width: 818, height: 1290}) | webp %}">
            <img decoding="async" src="{% getUrl "/assets/images/living-room.jpeg" | resize({width: 818, height: 1290}) | webp %}" alt="Freshly painted home." aria-hidden="true">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="stats-316">
    <ul class="cs-card-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/person-gold.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">50+</span>
                <span class="cs-desc">Attorneys</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/group-gold.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">850+</span>
                <span class="cs-desc">Global Customers</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/award-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">12</span>
                <span class="cs-desc">Winning Awards</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/check-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">98%</span>
                <span class="cs-desc">Success Rate</span>
            </div>
        </li>
    </ul>
</div>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-1574">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-thumb.svg"
                        alt="icon" width="48" height="48" loading="lazy" decoding="async">
                <span class="cs-stat">3-Year Exterior Warranty</span>
                <span class="cs-info">Vermont winters can be harsh on homes. We make sure to build this into our business, so you’re home is protected no matter the weather.</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-package.svg"
                        alt="icon" width="48" height="48" loading="lazy" decoding="async">
                <span class="cs-stat">Clear & Honest Communication</span>
                <span class="cs-info">Our clients are never left in the dark. We promise to keep you in the loop at every step in the process, so we are always on the same page.</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-hand.svg"
                        alt="icon" width="48" height="48" loading="lazy" decoding="async">
                <span class="cs-stat">Fair Pricing</span>
                <span class="cs-info">Having a warm and welcoming home shouldn’t break the bank. Everyone deserves to have a home that they are excited to show off, and we work directly with our clients to accomplish that.</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-hand.svg"
                        alt="icon" width="48" height="48" loading="lazy" decoding="async">
                <span class="cs-stat">Fully Licensed & Insured</span>
                <span class="cs-info">We are fully covered, so you can sit back and relax while your home is completely transformed!</span>
            </li>
        </ul>
    </div>
    <div class="cs-background"></div>
</section>
                                
<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-263">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Reviews</span>
            <h2 class="cs-title">Testimonials</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci laborum repellendus perspiciatis nostrum nisi possimus corrupti, temporibus totam reiciendis nobis quasi. Id, ea beatae! Veritatis!
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote.svg" alt="quote icon" width="30" height="24" loading="lazy" decoding="async">
                <p class="cs-item-text">
                    Perfect! All doctors are very professional and friendly! They offered great explanations and helped me to get back out into the country.
                </p>
                <span class="cs-name">- John Doe</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote.svg" alt="quote icon" width="30" height="24" loading="lazy" decoding="async">
                <p class="cs-item-text">
                    Perfect! All doctors are very professional and friendly! They offered great explanations and helped me to get back out into the country.
                </p>
                <span class="cs-name">- John Doe</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote.svg" alt="quote icon" width="30" height="24" loading="lazy" decoding="async">
                <p class="cs-item-text">
                    Perfect! All doctors are very professional and friendly! They offered great explanations and helped me to get back out into the country.
                </p>
                <span class="cs-name">- John Doe</span>
            </li>
        </ul>
    </div>
    <picture class="cs-background" aria-hidden="true">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/ranch.jpeg" | resize({width: 686, height: 600}) | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/ranch.jpeg" | resize({width: 818, height: 1290}) | webp %}">
        <img decoding="async" src="{% getUrl "/assets/images/ranch.jpeg" | resize({width: 818, height: 1290}) | webp %}" alt="Freshly painted home." aria-hidden="true">
    </picture>
</section>
                                                             
                                                               
                                

    {% include 'components/cta.html' %}
{% endblock %}